body{
    font-family: verdana;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#e0f7fa;
    overflow:scroll;
    overflow-x: hidden;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons p{
    margin: 0px;
    font-size: 50px;
}
.introduction{
    width: 500px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 20px;
    height: 60vh;
    background-color: #e8f5e9;
}
#letsplay{
    margin-top: 30px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: rgba(135, 207, 235, 0.722);
    font-family: Verdana;
}
#game-info{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.main{
    height: 100vh;
    max-width: 500px;
    text-align: center;
}
.game-section{
    border: 1px solid green;
    height: 65vh;;
    margin: 0px;
    border-radius: 8px;
    background-color: #e8f5e9;
}
.options{
    display: flex;
    justify-content: space-evenly;
}
.options button{
    width: 120px;
    height: 120px;
    font-size: 70px;
    border-radius: 75px;
    border: 1px solid gray;
}
.result{
    margin-top: 20px;
    padding-left: 5vh;
    font-size: 20px;
}
.result p{
    margin: 0px;
}
#resultstatus{
    font-size: 50px !important;
}
.score{
    padding-left: 5vh;
    margin-top: 20px;
    font-size: 20px;
}
.score p{
    margin: 0px;
}
.reset{
    margin: 20px;
}
.reset button{
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid skyblue;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: skyblue;
}
.division{
    height: 35vh;
}
html{
    scroll-behavior: smooth;
}

@media (width<500px){
    .introduction{
        width: 380px;
        border: 1px solid gray;
        border-radius: 8px;
        margin: 20px;
        height: 80vh;
        background-color: #e8f5e9;
    }
    .game-section{
        border: 1px solid green;
        height: 80vh;;
        margin: 0px;
        border-radius: 8px;
        background-color: #e8f5e9;
    }
    .icons p{
        margin: 0px;
        font-size: 30px;
    }
}
@media (width>500px){
    .introduction{
        width: 80%;
        max-width: 550px;
        border: 1px solid gray;
        border-radius: 8px;
        margin: 20px;
        padding: 0px 10px;
        height: 80vh;
        background-color: #e8f5e9;
    }
    .main{
        width: 80%;
    }
    .game-section{
        border: 1px solid green;
        max-width: 550px;
        height: 80vh;;
        margin: 0px;
        border-radius: 8px;
        background-color: #e8f5e9;
    }
}